PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_DATABASE=sokoban_multiuser

SESSION_SECRET=replace-this-with-a-long-random-secret
CORS_ORIGIN=http://localhost:5173
COOKIE_SECURE=false
